services:

  users_app:
    build:
      context: .
      target: dev
    container_name: users-app
    volumes:
      - .:/proj/backend
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      - dev-backend-net

#  analytics_app:
#    build: .
#    container_name: kafka-consumer
#    command: [ "python", "-m", "kafka.api_app.analytics.consumer" ]
#    depends_on:
#      kafka:
#        condition: service_healthy
#    networks:
#      - kafka-net

  db:
    container_name: dev-db-postgres
    image: postgres:16.9-alpine
    restart: always
    hostname: postgres
    networks:
      - dev-backend-net
    env_file:
      - .env
    ports:
      - '127.0.0.1:5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 10s
      timeout: 3s
      retries: 3

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    env_file:
      - .env
    ports:
      - "2181:2181"
    networks:
      - dev-backend-net

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    env_file:
      - .env
    networks:
      - dev-backend-net
    restart: always
    healthcheck:
      test: [ "CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list" ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 40s

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - dev-backend-net

networks:
  dev-backend-net:
    driver: bridge
